<div class="container">
  <article class="container">
    <section>
      <h2>
        <img alt="Graja" class="logo-style2" src="./assets/img/LogoGraja1.png">
        En Graja estamos para apoyarte y te ofrecemos los siguientes servicios:</h2>
      <ul>
        <li>Afiliación en 48 horas al IMSS para que disfrutes de sus beneficios.
        </li>
        <li>Asesoría fiscal, contable y legal proporcionado por nuestro equipo de profesionales con amplia experiencia.
        </li>
        <li>Formar parte de nuestra red de contactos, asociados, clientes y proveedores para promocionar tus servicios
          (Networking).
        </li>
        <li>Asesoría para obtener tu crédito INFONAVIT para adquirir tu vivienda.
        </li>
        <li>Seleccionar tu AFORE de tu preferencia.
        </li>
      </ul>
      <h2>
        <img alt="Graja" class="logo-style2" src="./assets/img/LogoGraja1.png">
        Además te apoyamos en:
      </h2>
      <ul>
        <li>Asesoría para tramitar tu número de seguridad social.
        </li>
        <li>Cálculo de las semanas cotizadas.
        </li>
        <li>Orientación en trámites ante oficinas gubernamentales como el IMSS o el Infonavit
        </li>
        <li>etc.
        </li>
      </ul>
    </section>
  </article>
</div>