<div class="container">
  <h1>
    <img alt="Graja" class="logo-style2" src="./assets/img/LogoGraja1.png">
    ¿Cómo le hago para pertenecer a Graja?</h1>
  <hr>
  Existen varias maneras de unirte a nuestra sociedad:
  <ul>
    <li>Si vives en la Ciudad de México, puedes acudir a nuestras oficinas ubicadas en Avenida Venustiano Carranza,
      número 122, Colonia Valle de Madero, Cuautepec, Alcaldía Gustavo A. Madero, Código Postal 07100.
    </li>
    <li>Si vives fuera de la ciudad puedes afiliarte llamando a este número <strong>55-7579-9934</strong> y uno de
      nuestros ejecutivos se comunicará contigo.
    </li>
    <li>Envíanos un correo a <a href="mailto:contactograja@gmail.com">contactograja@gmail.com</a>
    </li>
    <li>Tambien puedes hacerlo haciendo click <a class="register" href="/contacto.htm">aquí</a>.
    </li>
  </ul>

  <h2>
    <img alt="Graja" class="logo-style2" src="./assets/img/LogoGraja1.png">
    Requisitos</h2>
  <hr>
  <section>
    <ul>
      <li>Llenar y firmar la solicitud de integración.
      </li>
      <li>Copia actualizada del acta de nacimiento .
      </li>
      <li>Clave única de Registro de Población (CURP).
      </li>
      <li>Identificación oficial vigente (IFE, INE o Pasaporte).
      </li>
      <li>Comprobante de domicilio <strong>no mayor a 3 meses</strong> de antiguedad.
      </li>
      <li>Número de seguro social social.
      </li>
      <li>Un correo electrónico
      </li>
      <li>Comprobante del pago de la cuota de inscripción.
      </li>
    </ul>
    <hr>
  </section>
</div>