<div class="container">

  <article class="container">
    <h1>
      <img alt="Graja" class="logo-style2" src="./assets/img/LogoGraja1.png">
      ¿Quiénes somos?</h1>
    <section>
      <p>
        Graja somos una comunidad de trabajadores independientes quienes nos asociamos
        para ayudar a acceder a los beneficios de la seguridad social.
      </p>
      <p>
      </p>
      <p>
        Somos una empresa que buscamos gente trabajadora como tú,
        trabajadores independientes que no tienen como comprobar ingresos y necesitan la seguridad social.
      </p>
      <p>
        En Graja tenemos la convicción de que trabajando dura y arduamente podemos salir adelante
        y que asociandote con nosotros ahora la <strong>seguridad social es una realidad.</strong>
      </p>
      <div id="mision">
        <h2>
          <img alt="Graja" class="logo-style2" src="./assets/img/LogoGraja1.png">
          Misión</h2>
        <p>
          Satisfacer necesidades individuales y colectivas con base a intereses comunes
          con esfuerzo propio y ayuda mutua a fin de proporcionar y
          fomentar el intercambio de servicios diferentes y actividades diversas entre los asociados.
        </p>

      </div>
      <div id="vision">
        <h2>
          <img alt="Graja" class="logo-style2" src="./assets/img/LogoGraja1.png">
          Visión</h2>
        <p>
          Ser la sociedad líder en atención y asociación de trabajadores independientes a nivel nacional
          a nuestra red de asociados para la promoción de sus productos y servicios,
          de esta manera mejorar su economía y acceso a los beneficios de seguridad social integral.
        </p>
      </div>

      <div id="valores">
        <h2>
          <img alt="Graja" class="logo-style2" src="./assets/img/LogoGraja1.png">
          Valores</h2>
        <ol>
          <li>Honestidad</li>
          <li>Confianza</li>
          <li>Responsabilidad</li>
          <li>Calidad</li>
          <li>Seguridad</li>
        </ol>
      </div>
      <br>
    </section>
  </article>

</div>