/* You can add global styles to this file, and also import other style files */
body{
    padding-bottom: 10px;
    background-color: #fafafa;
  }

  .page-header{
      margin-top: 3rem;
  }
  
  .main-container{
      margin-top: 15px;
  }
  

  
  
  
  
  
  
  
  
  
  
  
  
  
 /* sello contacto*/ 
/* Styles for the page header */

header.page-header {
  height: 7rem;
  background-repeat: repeat-x;
  background-position: left bottom;
  border-bottom: 1px solid #1d1d1d;
}

  header.page-header .container {
      padding: 1rem;
      position: relative;
  }

  header.page-header h1 {
      margin: 0;
      font-size: 6rem;
      padding-top: 3rem;
  }

  header.page-header p {
      font-size: 2rem;
      font-style: italic;
  }

  header.page-header .register {
      display: block;
      position: absolute;
      top: 10px;
      right: 30px;
      width: 110px;
      height: 110px;
      padding-top: 60px;
      opacity: 0.8;
      font-size: 2.7rem;
      color: #fff;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      /* Rounded corners to create circle */
      border-radius: 100%;
      text-shadow: 0 1px 0 #000;
      transform: rotate(6deg);
      background: -ms-linear-gradient(#a80000, #740404);
      background: linear-gradient(#a80000, #740404);
      /* TODO: Transition the transform property over 1 second */
      transition: transform 1s;
  }

      header.page-header .register:hover {
          color: #fff;
          background: -ms-linear-gradient(#ff4d4d, #CC0606);
          background: linear-gradient(#ff4d4d, #CC0606);
          /* TODO: rotate to 16 degrees and scale by 1.1 */
          transform: rotate(16deg) scale(1.1,1.1);
          /* TODO: Transition the transform property over 1 second */
          transition: transform 1s;
      }

      header.page-header .register:before /* Creates dotted border */ {
          display: block;
          position: absolute;
          top: -5px;
          right: -5px;
          height: 120px;
          width: 120px;
          content: "";
          border: 3px dotted #740404;
          border-radius: 100%;
      }

      header.page-header .register {
        font-size: 1.1em;
    } 
      header.page-header .register .free {
          font-size: .8em;
      } 
  
  
  /* Animaciones */
  .animated {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    
    .fast {
      -webkit-animation-duration: 0.4s;
      animation-duration: 0.4s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
    }
    
    .fadeIn {
      animation-name: fadeIn;
    }

/* logos e imagenes*/
.foto-mediana-horizontal {
    width: 450px;
    float: right;
}

.logo-style1 {
    width: 80px;
    height: 80px;
}

.logo-style2 {
    width: 50px;
    height: 50px;
}
