<div class="container">
    <div class="row-md-10">

        <div class="card text-white bg-danger mb-3" style="max-width: 180rem">
            <div class="card-header">GRAJA un apoyo para tu futuro</div>
            <div class="card-body">
                <address> Contactanos: <a href="mailto:contactograja@gmail.com">contactograja@gmail.com</a></address>
                <p class="card-text">
                    <a  [routerLink]="['aviso-privacidad']" >Aviso Privacidad</a> &#169; Graja {{ fechaActual | date:'y' }}
                </p>
            </div>
        </div>
    </div>
</div>

